.btn-reg {
    margin-top: 40%;
    padding:22px;
    background: black;
    border: none;
    border-radius: 50px;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Kumbh Sans";
    text-align: center;
   
}
.want-h{
    padding-top :40%;
    font-size :35px;
    color: #FA6C00;
    font-weight :bold;
}
.want-h2{
    font-size :30px;
    color: #2A2A2A;
    font-weight :bold;
}
.want-h2 a{
    font-size :30px;
    color: #FA6C00;
    font-weight :bold;
}

.Register{
    padding-top:10%;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .btn-reg{
        padding-top:0;
        padding-bottom:0;
    }

    .reg1{
      
        padding-left :5%;
    }
    .want-h{
        text-align: center;
    }
    .want-h2{
        text-align: center;
    }
    .reg2{
      display:flex;
      justify-content: center;
      padding-bottom:2%;
    }
  }