.vp1{
    padding-top:20%;
    font-size :60px;
    font-size: 60px;
    line-height: 70px;
color: #e64417;
font-weight: bold;
    }
    .duration{
        font-family: 'Open Sans', sans-serif;
    }

    .d5h{
        padding-left : 1% !important;
        padding-top:5%;
        line-height:5px;
    }
    .s5h{
        padding-left :  1% !important;
        line-height:5px;
        padding-top:5%;

    }
    .dev-h {
    text-align : left;
    color: #191919;
    font-weight:bold;
    font-size :30px;
    padding-left:0.5%;
    padding-top:2%;
    padding-bottom :2%;
    }
    .five-h{
    line-height: 36px;
    text-align : left;
    color: #191919;
    font-weight:bold;
    font-size :26px;
    padding-bottom:10%;
    }
    .what-h {
        margin-top: 20px;
        line-height: 30px;
        color: #191919;
        font-weight:bold;
        font-size :30px;
    }
    .tickul{
        list-style-image: url('../../assets/check.png');
    }
    .what-li {
        color: #191919;
        font-size :18px;
        font-family: 'Open Sans', sans-serif;
        line-height:70px;

    }
    .li2{
        line-height:25px;
    }
    .Banr4{
        width:100%;
    }
    
    
    
