.adv-headings{
    padding-top:5%;
    color:#191919;
   font-size : 30px;
   font-weight : bold;
   /* padding-left : 3%; */
}
.columns {
    background : #fff;
    border-radius : 2%;
    /* margin :1%; */
    padding :6%;
    filter: drop-shadow(0 0 5px rgba(238,105,40,0.75));
}
.columns2{
    margin-top : 8%;
    margin-bottom : 8%;
}
.columns3{
    margin-top : 16%;
    margin-bottom : 8%;
}
.le-img {
     display : block ;
      margin :auto;
      padding : 10%;
}
.le-p{
    color :#313131;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    text-align : left;
}

.zoom{
    padding:1%;
    width:100%;
    filter: drop-shadow(0 0 5px rgba(238,105,40,0.75));

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .adv-headings{
       text-align :center;
    }
  }